<%- include('./header.ejs')%>
<div id="About us" class="container">
  <div class="row">
    <div class="col-md-6 mt-5 about-section">
      <iframe
        width="550"
        height="400"
        src="https://www.youtube.com/embed/2IBilfqnBOw?si=E_kXBW0RNRc-mNdM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-md-6 about-section">
      <h2 class="text-primary fs-2">About Us</h2>
      <h4><a href="">15+</a> Years of Experience</h4>
      <p>
        The Vikrant Group of Institutions have embarked on a mission with zeal
        to imbibe a culture of providing quality education to the learners,
        thereby leading the learners to the pinnacle of success. To achieve
        this, abinito we have created a State of Art Infrastructure and indepth
        resources of through diehard professionals in our team.
      </p>
      <p>
        Our all out endeavour is to groom young future leaders to be complete
        value driven human beings and competent professionals with a deep
        passion for our country.
      </p>
      <p>
        The biggest strength of our Institutes is the renowned faculty members
        having distinguished academic achievements in different areas of
        technology, management and other related basic disciplines. The
        endeavour is to have a progressive outlook and introduce innovative
        teaching-learning process.
      </p>
    </div>
  </div>
</div>
<%- include('./footer.ejs')%>
