<%- include('./header.ejs')%>
<div id="contact us" class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="contact-info">
        <h2 class="text-primary section-title">Contact Us</h2>
        <div class="md mt-5">
          <h4>Contact details</h4>
          <h5 class="text-primary">Principal</h5>
          <ul>
            <li>Name : Prof. Anand Singh Bisen</li>
            <li>
              <i class="fas fa-envelope"></i>Mail ID : principal@vitm.edu.in
            </li>
            <li>
              <i class="fas fa-phone"></i>Contact No. : +917773004155 | Toll
              Free : 1800-270-5155
            </li>
            <h5 class="text-primary">Chief Admission Co-ordinator</h5>
            <li>Name : Mr.Sanjeev Chauhan</li>
            <li>
              <i class="fas fa-phone"></i>Contact No. : 0751 2920555, +91
              9425114946, +919229222902
            </li>
            <li>
              <i class="fas fa-phone"></i>Fax No. : +91 7514066476, 4053850 |
              Toll Free : 1800-270-5155
            </li>
            <li>
              <i class="fas fa-envelope"></i>Mail ID : sanjeev@vitm.edu.in |
              admissions@vitm.edu.in
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="contact-form h-70">
        <h2 class="section-title">Send Us a Message</h2>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name" />
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Your Email" />
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              rows="4"
              placeholder="Your Message"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('./footer.ejs')%>
