<%- include('./header.ejs')%>
<div id="course" class="container">
  <h2 class="text-center text-primary fs-2">Course's</h2>
  <div class="row">
    <div class="col-md-4 course">
      <img
        src="./image/advance-java-training-in-khanna.jpg"
        alt="Course Image"
        class="course-img"
      />
      <h3>Course Java 1</h3>
      <p>Description for Course 1 goes here...</p>
      <a href="./purchagepage" class="btn btn-primary register-btn">Purchase</a>
    </div>
    <div class="col-md-4 course">
      <img
        src="./image/b-tech-bba-bca-mba-mca-consultant-500x500.webp"
        alt="Course Image"
        class="course-img"
      />
      <h3>Course B.Tech 2</h3>
      <p>Description for Course 2 goes here...</p>
      <a href="./purchagepage" class="btn btn-primary register-btn">Purchase</a>
    </div>
    <div class="col-md-4 course">
      <img
        src="./image/pexels-lisa-fotios-1612.jpg"
        alt="Course Image"
        class="course-img w-50"
      />
      <h3>Course BCA 3</h3>
      <p>Description for Course 3 goes here...</p>
      <a href="./purchagepage" class="btn btn-primary register-btn">Purchase</a>
    </div>
  </div>
</div>
<%- include('./footer.ejs')%>
