<footer class="footer h-1 bg-dark">
    <p> All Rights Reserved & &copy; 2023 by
     <a href="https://fronts.ai/u/anuragkushwahakfreelancerpvtltdgwaliormp"
       >Anurag Kushwah</a></p>
 </footer>

<script>
  // Script for automatic sliding
  $(".carousel").carousel({
    interval: 2000, // Adjust the interval (in milliseconds) for auto-sliding
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
