<%- include('./header.ejs')%>
<div id="profile">
  <div class="profile-card">
    <div class="text-center">
      <div class="profile-avatar"></div>
      <h2>User Name</h2>
      <p>Email: user@example.com</p>
      <p>Location: City, Country</p>
      <p>Joined: January 1, 2022</p>
      <p>About:</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper
        tellus eu quam bibendum, vel aliquam tortor lobortis.
      </p>
      <button class="btn btn-primary">Edit Profile</button>
    </div>
  </div>
</div>
<%- include('./footer.ejs')%>
