<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Input with Icon - Bootstrap</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Font Awesome CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form action="/reset_Password1"  autocomplete="off" class="form" method="post">
            <div class="form-group">
              <label for="password">Password</label>
              <div class="input-group">
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter Password"
                  aria-describedby="password-addon"
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="password-addon">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
            <input
            type="hidden"
            name="user_id"
            value="<%= user_id %>"
          />
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
